<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tip Estimator</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Justin Lu">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
              rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <!-- CSS Styles -->
        <link rel='stylesheet' type='text/css' href="static/main.css">
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap" rel="stylesheet">
        <!-- Favicon -->
        <link rel="shortcut icon" href="static/favicon.ico">
    </head>
    <body>
        <div class="container lessWide">
            <div class="login">
                <h1 class="text-center">Predict Your Tip Earnings</h1>
                 <!-- Main Input For Receiving Query to our ML -->
                <form action="{{ url_for('predict')}}"method="post">
                    <div class="row">
                            Enter a total bill cost:
                            <input type="number" name="total bill" placeholder="total bill" required="required" />
                            Enter the size of the party:
                            <input type="number" name="size" placeholder="size of party" required="required" />
                        <div class="col">
                            <div class="row">
                                <label for="gender">Choose a gender:</label>
                                <select name="gender" id="gender">
                                        <option value="0">Female</option>
                                        <option value="1">Male</option>
                                    </select>
                            </div>
                            <div class="row">
                                <label for="smoker">Choose if they're a smoker:</label>
                                <select name="smoker" id="smoker">
                                        <option value="0">Non smoker</option>
                                        <option value="1">smoker</option>
                                    </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <label for="day">Choose a day:</label>
                                    <select name="day" id="day">
                                        <option value="3">Thurs</option>
                                        <option value="2">Fri</option>
                                        <option value="1">Sat</option>
                                        <option value="0">Sun</option>
                                    </select>
                            </div>
                            <div class="row">
                            <label for="time">Choose a time:</label>
                                <select name="time" id="time">
                                    <option value="1">Lunch</option>
                                    <option value="0">Dinner</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class = "d-flex justify-content-center">
                    <button type="submit" class="btn btn-success btn-block btn-large button">
                        Predict tip amount
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash-stack" viewBox="0 0 16 16">
                          <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1H1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
                          <path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2H3z"/>
                        </svg>
                    </button>
                    </div>
                </form>
                <div class = "d-flex justify-content-center">
                    {{ prediction_text }}
                </div>
             </div>
        </div>
    </body>
    <footer>
        <div class="fixed-bottom bottomHelp text-center">
            With machine learning, use a linear regression algorithm
            to predict your tip amount. Model trained using data reported
            in a case study from
            Bryant, P. G. and Smith, M (1995) Practical Data Analysis: Case Studies in Business Statistics. Homewood, IL: Richard D. Irwin Publishing
        </div>
    </footer>
</html>