{% extends "layout.html" %}
{% block content %}
    <div class="container lessWide">
            <div class="login">
                <h1 class="text-center">Predict Your Tip Earnings</h1>
                 <!-- Main Input For Receiving Query to our ML -->
                <form action="{{ url_for('PredictRegression')}}"method="post">
                    <div class="row">
                            Total bill cost:
                            <input type="number" name="total bill" placeholder="total bill" required="required" />
                            Size of the party:
                            <input type="number" name="size" placeholder="size of party" required="required" />
                        <div class="col">
                            <div class="row">
                                <label for="gender">Gender of bill payer:</label>
                                <select name="gender" id="gender">
                                        <option value="0">Female</option>
                                        <option value="1">Male</option>
                                    </select>
                            </div>
                            <div class="row">
                                <label for="smoker">Group has smokers:</label>
                                <select name="smoker" id="smoker">
                                        <option value="0">No</option>
                                        <option value="1">Yes</option>
                                    </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <label for="day">Day of the week:</label>
                                    <select name="day" id="day">
                                        <option value="3">Thurs</option>
                                        <option value="2">Fri</option>
                                        <option value="1">Sat</option>
                                        <option value="0">Sun</option>
                                    </select>
                            </div>
                            <div class="row">
                            <label for="time">Time of day:</label>
                                <select name="time" id="time">
                                    <option value="1">Lunch</option>
                                    <option value="0">Dinner</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class = "d-flex justify-content-center">
                    <button type="submit" class="btn btn-success btn-block btn-large button">
                        Predict tip amount
                    </button>
                    </div>
                </form>
                <br>
                <div class = "d-flex justify-content-center">
                    {{ prediction_text }}
                </div>
             </div>
        </div>
{% endblock content %}